<div class="row" style="height: 100%;">
    <div class="col-4">
        <div class="row">
            <button class="smash">Smash</button>
        </div>
        <div class="row">
            <button class="pass">Pass</button>
        </div>
    </div>

    <div class="col-8">
        <div class="poke-display">
            <div class="row">
                <h1 class="poke-name">{{ name }}</h1>
            </div>
            <div class="row">
                <img class="poke-img" src="assets\pokemonImages\Bulbasaur.png" alt={{name}}>
            </div>
        </div>
    </div>
</div>